<div #videoContainer class="video-container" [style.height.%]="100" [style.width.%]="width">
    <video #videoControl class="video-player" [style.height.%]="100" [style.width.%]="width">
        <source *ngFor="let config of sourceConfig" src="{{config.path}}" type="video/{{config.type}}" />
        Video not supported for the browser
    </video>
    
    <!--<video #videoControl class="video-player" [style.width]="'100%'" [style.height]="'auto'">
        <source src="{{videoFileUrl}}" type="{{videoFileType}}" />
        Video not supported for the browser
    </video>-->
   
    <div class="control-panel-container" [style.color]="controlColor">
        <div class="play-slider">
            <div class="flex-grow-12">
                <mat-slider [style.width]="'100%'" #playSlider (input)="changeDuration($event)" min="0" max="{{videoControl.duration}}" step="{{videoPlayerState.getDefaultVideoIncrementalValue()}}"></mat-slider>
            </div>
        </div>
        <div class="control-panel">
            <div class="flex-grow-4">
                <mat-icon  #controlButton  svgIcon="{{videoPlayerState.isMute() ? 'volume_off' : 'volume_up'}}" id="volume" class="control-button" (click)="onVolumeClick()"></mat-icon>
                <mat-slider #audioSlider (input)="onVolumeChange($event)"   id="audioSlider" class="control-button control-mat-slider" min="0" max="{{videoPlayerState.getMaxAudioLevel()}}" step="{{videoPlayerState.getDefaultAudioIncrementalValue()}}"></mat-slider>
            </div>
            <div class="flex-grow-4 align-center">
                <mat-icon  #controlButton svgIcon="backward" id="backward" class="control-button" (click)="onbackward()"></mat-icon>
                <mat-icon  #controlButton svgIcon="{{playButtonIcon}}" id="play" class="control-button" (click)="onPlay()"></mat-icon>
                <mat-icon  #controlButton svgIcon="forward" id="forward" class="control-button" (click)="onforward()"></mat-icon>
            </div>
            <div class="flex-grow-4 flex-end">
                <!-- TBD -->
                <!--<mat-icon svgIcon="upload" id="upload" class="control-button" (click)="file.click()">
                    <span class="pointer">
                        <input #file type="file" id="fileUpload" (change)="onFileChange($event)" hidden/>
                    </span>
                </mat-icon>-->
                <mat-icon #controlButton svgIcon="{{videoPlayerState.isMicEnabled() ? 'mic_on' : 'mic_off'}}" id="mic" (click)="onSpeak($event)" class="control-button"></mat-icon>
                <!-- TBD -->
                <!--<mat-icon svgIcon="settings" mat-icon-button [matMenuTriggerFor]="settings" id="fullscreen" class="control-button">
                </mat-icon>
                <mat-menu #settings>
                    <span mat-menu-item class="pointer">
                    </span>
                </mat-menu>-->
               <mat-icon #controlButton (click)="onFullscreen()" svgIcon="fullscreen" id="fullscreen" class="control-button"></mat-icon>
            </div>
        </div>
    </div>
    <!--<div class="video-body-icons overlay-bottom-60" [style.color]="controlColor">
        <mat-icon #replayButton [ngClass]="'replay'">{{replayButtonIcon}}</mat-icon>
    </div>-->
</div>
<!-- Temporary -->
<div class="command glow" [style.height.%]="100" [style.width.%]="width">
    <q *ngIf="action">{{action}}</q>
</div>