@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
:host {

    .noselect {
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    .flex-grow-4 {
        flex-grow: 4;
    }
    .flex-grow-5 {
        flex-grow: 5;
    }
    .flex-grow-6 {
        flex-grow: 6;
    }
    .flex-grow-12 {
        flex-grow: 12;
    }
    .align-right{
        text-align: right;
    }
    .flex-end {
        align-content: flex-end;
        text-align: right;
    }
    video::-webkit-media-controls {
        display:none !important;
    }
    .replay{
        animation : glow 1s ease-in-out infinite alternate;
    }
   
    .video-body-icons{
        position:relative;
        display: flex;
        align-items:stretch;
        justify-content: center;
        align-items: center;
    }
    .video-container {
        position: relative;
        .control-panel-container {
            position: absolute;
            margin: 0;
            padding: 0;
            bottom:0;
            display: flex;
            flex-direction: column;
            width: 100%;
            .control-panel {
                z-index:10;
                position:relative;
                margin:0;
                padding:5px;
                display:flex;
                align-items:stretch;
                .control-mat-slider{
                    margin-bottom:6%;
                }
                .control-button {
                    padding: 5px;
                }
                     
                .control-button:active {
                    cursor: pointer;
                }
                .control-button:hover {
                    cursor: pointer;
                }
                .play-slider{
                    margin: 0;
                    margin-left: 5px;
                    margin-right: 5px;
                    z-index: 10;
                    width: 100%;
                }
            }
        }
    }   

    .pointer {
        cursor: pointer;
    }
    .display-none {
        display:none;
    }
    .command {
        position: absolute;
        bottom: -10%;
        text-align: center;
        font-size: 40px;
        font-family: fantasy;
    }
}

.mat-menu-content {
    background-color: 'red' !important;
}