.center-container {
    position:absolute;
    vertical-align: center;
}

.player-container{
    overflow: none;
    width: 1020px;
    .player-box {
        background: #b0aea0;
        box-shadow:  -20px 20px 60px #969488,
                     20px -20px 60px #cac8b8;
        padding: 2px;
        width: 100%;
    }
}